* {
  box-sizing: border-box;
}

body {
  background-image: url(../images/cork-wallet.jpg);
  box-sizing: border-box;
  margin-bottom: 80px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #7777777;
}

nav {
  float: right;
  margin-right: 160px;
}

nav a {
  margin: 22px 3px 22px 3px;
}

h1, h2, h3 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.3em;
  font-weight: bold;
}

h4 {
  font-size: 1em;
  font-weight: bold;
}

p {
  font-size: 1em;
}

header {
  background-color: #ffffff;
  position: relative;
  height: 60px;
  width: 100%;
  border-bottom: 3px solid #cccccc;
}

.main-content {
  color: #ffffff;
  border-color: #dddddd;
  width: 960px;
  margin: 30px auto 60px auto;
}

.main-section {
  float: left;
  background-color: #ffffff;
  width: 650px;
  border: 1px solid #cccccc;
  padding: 30px;
}

.side-bar {
  float: right;
  background-color: #ffffff;
  width: 270px;
  border: 1px solid #cccccc;
  padding: 30px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #666666;
  text-align: center;
  padding: 20px;
  clear: both;
  border-top: 3px solid #4aaaa5;
}

a {
  float: left;
  text-decoration: none;
  padding: 0;
}

a h1 {
  padding: 14px;
  margin-left: 160px;
  height: 57px;
  text-align: center;
  background-color: #4aaaa5;
  color: #ffffff;
}

.a-border {
  border-width: 0 1px 0 1px;
  border-color: #cccccc;
  border-style: solid;
  padding-left: 6px;
  padding-right: 6px;
}
